<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <title>Resultado</title>
</head>
<body>
    <div>
        <h1>IDENTIFICADOR DE NUDIBRANQUIOS v1.0</h1>
    </div>
    <div class="contenidor-central">
        <p class="centrado"><h1>Resultado de la Predicción</h1>
        <b><i aria-setsize="12">imagen </i></b>
        <h2>{{ result }}</h2>
        </p>
        
        <p class="centrado">
        <a href="{{ url_for('inicio') }}">
          <button>Subir otra imagen</button>
          </a>
        </p>
    </div>
    <div>
    <h3> Trabajo de fin de máster de Aureli RV</h3>
    </div>
</body>
</html>